/* Estilos para centrar el contenido */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

button#logoutButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#logoutButton:hover {
    background-color: #ff1a1a;
}

main {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
}
